<!doctype html>
<title>Bluekaktus OCR</title>
<h1>Welcome to Bluekaktus AI</h1>
<p>This is a demonstration of Optical Character recognition to extract relevant information from any uploaded image or PDF.</p>
<p>Upload a Pdf or an image below to get back relevant information in the form of a JSON object</p>
<h3>Upload the PDF or Image</h3>
<form action='' method="POST" enctype="multipart/form-data">
    <p><input type='file' name='file' multiple=''>
    <input type='submit' value='extract'>
    </p>

</form>